@{
    ViewData["Title"] = "AboutUs";
}

@section Head {
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
}

<section class="hero about-hero">
    <div class="hero-content">
        <h1>About Triplico</h1>
        <p>Discover more about our mission and the team behind the project</p>
    </div>
</section>

<section class="about-section">
    <div class="about-container">
        <h1>Who We Are</h1>
        <p>
            Triplico is a graduation project developed by a group of passionate Full Stack developers from
            the DEPI program.
            <br><br>
            Our goal is to create a smart and user-friendly platform that helps travelers explore Egypt’s
            most beautiful destinations, find hotels, and plan their trips easily.
            <br><br>
            This project reflects our teamwork, creativity, and dedication to building practical web
            applications that make a real impact.
        </p>
    </div>
</section>

<section class="contact-section">
    <h1>Contact Us</h1>
    <p class="contact-note">
        For bookings, collaborations or support, please contact us via WhatsApp on any of the following numbers:
    </p>

    <div class="contact-container">
        <div class="contact-card">
            
            <a href="https://wa.me/201012345678" target="_blank">
                +20 102 484 1565
            </a>
        </div>

        <div class="contact-card">
            
            <a href="https://wa.me/201205463114" target="_blank">
                +20 120 546 3114
            </a>
        </div>

        <div class="contact-card">
           
            <a href="https://wa.me/201202583445" target="_blank">
                +20 120 258 3445
            </a>
        </div>

        <div class="contact-card">
           
            <a href="https://wa.me/201225197764" target="_blank">
                +20 122 519 7764
            </a>
        </div>

        <div class="contact-card">
           
            <a href="https://wa.me/+201225366243" target="_blank">
                +20 122 536 6243
            </a>
        </div>
    </div>
</section>
