@model EgyptExploring.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}

@section Head {
    <link rel="stylesheet" href="~/css/authstyle.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/theme.js" asp-append-version="true"></script>
}

<div class="auth-container">
    <div class="auth-box">
        <img src="~/images/image.png" alt="Triplico Logo" class="logo" />
        <h2>Welcome Back</h2>

        <div asp-validation-summary="All" class="text-danger" style="margin-bottom:10px;"></div>

        <form asp-action="Login" asp-controller="Account" method="post">

            <div class="input-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="Enter your username" />
                @* <span asp-validation-for="UserName" class="text-danger"></span> *@
            </div>

            <div class="input-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                @* <span asp-validation-for="Password" class="text-danger"></span> *@
            </div>

            <div class="form-group form-check" style="margin-top:10px;">
                <label class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="links">
                <p><a asp-action="ForgotPassword" asp-controller="Account">Forgot Password?</a></p>
                <p>
                    Don’t have an account?
                    <a asp-action="Register" asp-controller="Account">Sign Up</a>
                </p>
            </div>

            <button type="button" class="theme-toggle" id="themeButton">🌙</button>
        </form>
    </div>
</div>
